[submodule "elite-universe-editor-library"]
	path = elite-universe-editor-library
	url = https://github.com/markmoxon/elite-universe-editor-library.git
[submodule "elite-universe-editor-6502-second-processor"]
	path = elite-universe-editor-6502-second-processor
	url = https://github.com/markmoxon/elite-universe-editor-6502-second-processor.git
[submodule "elite-universe-editor-bbc-master"]
	path = elite-universe-editor-bbc-master
	url = https://github.com/markmoxon/elite-universe-editor-bbc-master.git
[submodule "elite-universe-editor-commodore-64"]
	path = elite-universe-editor-commodore-64
	url = https://github.com/markmoxon/elite-universe-editor-commodore-64.git
