[submodule "6502sp-elite-universe-editor"]
	path = 6502sp-elite-universe-editor
	url = https://github.com/markmoxon/6502sp-elite-universe-editor.git
[submodule "master-elite-universe-editor"]
	path = master-elite-universe-editor
	url = https://github.com/markmoxon/master-elite-universe-editor.git
[submodule "c64-elite-universe-editor"]
	path = c64-elite-universe-editor
	url = https://github.com/markmoxon/c64-elite-universe-editor.git
[submodule "library-elite-universe-editor"]
	path = library-elite-universe-editor
	url = https://github.com/markmoxon/library-elite-universe-editor.git
